@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-exo-2);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-exo-2), system-ui, -apple-system, sans-serif !important;
  font-weight: 400 !important;
}